XML/OIALtoEDM/CSDLSchemaTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CSDLSchemaTypes" 
           elementFormDefault="qualified"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:redefine id="EDMSchemaTypes" schemaLocation="EDMSchemaTypes.xsd">
    <xs:simpleType name="TSimpleIdentifier">
      <xs:restriction base="TSimpleIdentifier">
        <xs:maxLength value="100"/>
        <xs:pattern value="[A-Za-z][_0-9A-Za-z]{0,}"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TQualifiedName">
      <xs:restriction base="TQualifiedName">
        <xs:pattern value="[A-Za-z][_0-9A-Za-z]{0,}(\.[A-Za-z][_0-9A-Za-z]{0,}){0,}"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="TCommonPropertyAttributes">
      <xs:attributeGroup ref="TCommonPropertyAttributes"/>
      <xs:attribute name="ConcurrencyMode" type="TConcurrencyMode" use="optional"/>
      <xs:attribute name="StoreGenerated" type="TStoreGenerated" use="optional"/>
      <xs:attribute name="ClientAutoGenerated" type="TClientAutoGenerated" use="optional"/>
    </xs:attributeGroup>
  </xs:redefine>

  <xs:simpleType name="TClientAutoGenerated">
    <xs:restriction base="xs:boolean"/>    
  </xs:simpleType>

  <xs:simpleType name="TConcurrencyMode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none" />
      <xs:enumeration value="fixed" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TStoreGenerated">
    <xs:restriction base="xs:boolean"/>    
  </xs:simpleType>

</xs:schema>

