XML/GenerationSamples/BlogDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="ORMGeneratedXmlSchema.BlogDemo" elementFormDefault="qualified" targetNamespace="urn:ORMGeneratedXmlSchema:BlogDemo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="urn:ORMGeneratedXmlSchema:BlogDemo" xmlns="urn:ORMGeneratedXmlSchema:BlogDemo">
	<!--Each ORM ValueType with a value/range/length constraint-->
	<xs:simpleType name="BlogEntry_Id">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="-2147483648" />
			<xs:maxInclusive value="2147483647" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntryTitle">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Username">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Password">
		<xs:restriction base="xs:string">
			<xs:minLength value="32" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	<!--Each ORM EntityType and it's Preferred Id or top level ValueType-->
	<xs:complexType name="BlogEntryLabelIdentifier">
		<xs:attribute name="BlogEntry_Id" use="required" type="oxs:BlogEntry_Id" />
		<xs:attribute name="BlogLabel_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="BlogEntryIdentifier">
		<xs:attribute name="BlogEntry_Id" use="required" type="oxs:BlogEntry_Id" />
	</xs:complexType>
	<xs:complexType name="UserIdentifier">
		<xs:attribute name="firstName" use="required" type="oxs:Name" />
		<xs:attribute name="lastName" use="required" type="oxs:Name" />
	</xs:complexType>
	<xs:complexType name="BlogLabelIdentifier">
		<xs:attribute name="BlogLabel_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<!--Each ORM Major Object Type grouping-->
	<xs:complexType name="BlogEntryLabelFacts">
		<xs:complexContent>
			<xs:extension base="oxs:BlogEntryLabelIdentifier">
				<xs:sequence>
					<xs:element name="blogEntryId" type="oxs:BlogEntryIdentifier" />
					<xs:element name="blogLabelId" type="oxs:BlogLabelIdentifier" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BlogEntryFacts">
		<xs:complexContent>
			<xs:extension base="oxs:BlogEntryIdentifier">
				<xs:sequence>
					<xs:element name="userId" type="oxs:UserIdentifier" />
				</xs:sequence>
				<xs:attribute name="EntryTitle" type="oxs:EntryTitle" use="required" />
				<xs:attribute name="EntryBody" type="xs:string" use="required" />
				<xs:attribute name="MDYValue" type="xs:integer" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UserFacts">
		<xs:complexContent>
			<xs:extension base="oxs:UserIdentifier">
				<xs:sequence />
				<xs:attribute name="Name" type="oxs:Name" use="required" />
				<xs:attribute name="Name" type="oxs:Name" use="required" />
				<xs:attribute name="Username" type="oxs:Username" use="required" />
				<xs:attribute name="Password" type="oxs:Password" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BlogLabelFacts">
		<xs:complexContent>
			<xs:extension base="oxs:BlogLabelIdentifier">
				<xs:sequence />
				<xs:attribute name="Title" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Each ORM Major Object Type in the 'BlogDemo' schema-->
	<xs:element name="BlogDemo">
		<xs:complexType>
			<xs:all>
				<xs:element name="BlogEntryLabelElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="BlogEntryLabel" type="oxs:BlogEntryLabelFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="BlogEntryElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="BlogEntry" type="oxs:BlogEntryFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="User" type="oxs:UserFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="BlogLabelElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="BlogLabel" type="oxs:BlogLabelFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--Key Constraints-->
		<xs:key name="BlogEntryLabelKey">
			<xs:selector xpath="oxs:BlogEntryLabelElements/oxs:BlogEntryLabel" />
		</xs:key>
		<xs:key name="BlogEntryKey">
			<xs:selector xpath="oxs:BlogEntryElements/oxs:BlogEntry" />
			<xs:field xpath="@BlogEntry_Id" />
		</xs:key>
		<xs:key name="UserKey">
			<xs:selector xpath="oxs:UserElements/oxs:User" />
		</xs:key>
		<xs:key name="BlogLabelKey">
			<xs:selector xpath="oxs:BlogLabelElements/oxs:BlogLabel" />
			<xs:field xpath="@BlogLabel_Id" />
		</xs:key>
		<!--Uniqueness Constraints-->
		<!--KeyRefs between Major Object Type groupings-->
		<xs:keyref name="BlogEntryLabelblogEntryIdRef" refer="BlogEntryKey">
			<xs:selector xpath="oxs:BlogEntryLabelElements/oxs:BlogEntryLabel" />
			<xs:field xpath="oxs:BlogEntry/@BlogEntry_Id" />
		</xs:keyref>
		<xs:keyref name="BlogEntryLabelblogLabelIdRef" refer="BlogLabelKey">
			<xs:selector xpath="oxs:BlogEntryLabelElements/oxs:BlogEntryLabel" />
			<xs:field xpath="oxs:BlogLabel/@BlogLabel_Id" />
		</xs:keyref>
		<xs:keyref name="BlogEntryuserIdRef" refer="UserKey">
			<xs:selector xpath="oxs:BlogEntryElements/oxs:BlogEntry" />
			<xs:field xpath="oxs:User/@" />
		</xs:keyref>
	</xs:element>
</xs:schema>