XML/GenerationSamples/PersonCountryDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="PersonCountryDemo" elementFormDefault="qualified" targetNamespace="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/PersonCountryDemo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/PersonCountryDemo" xmlns="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/PersonCountryDemo">
	<!--SimpleType DEFINITIONS FOR EACH ORM ValueType WITH A VALUE/RANGE/LENGTH CONSTRAINT-->
	<xs:simpleType name="Title">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
			<xs:enumeration value="Dr" />
			<xs:enumeration value="Prof" />
			<xs:enumeration value="Mr" />
			<xs:enumeration value="Mrs" />
			<xs:enumeration value="Miss" />
			<xs:enumeration value="Ms" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country_name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Region_code">
		<xs:restriction base="xs:string">
			<xs:minLength value="8" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<!--ComplexType DEFINITIONS FOR EACH ORM EntityType AND ITS PREFERRED ID-->
	<xs:complexType name="Person">
		<xs:attribute name="Person_id" type="xs:integer" use="required" />
	</xs:complexType>
	<xs:complexType name="Country">
		<xs:attribute name="Country_name" type="oxs:Country_name" use="required" />
	</xs:complexType>
	<!--ComplexType DEFINITIONS FOR EACH MAJOR OBJECT TYPE ORM GROUPING-->
	<xs:complexType name="Person_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:Person">
				<xs:sequence>
					<xs:element name="Country" type="oxs:Country" />
				</xs:sequence>
				<xs:attribute name="LastName" type="oxs:LastName" use="required" />
				<xs:attribute name="FirstName" type="oxs:FirstName" use="required" />
				<xs:attribute name="Title" type="oxs:Title" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Country_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:Country">
				<xs:sequence />
				<xs:attribute name="Region_code" type="oxs:Region_code" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Element DEFINITIONS OF EACH MAJOR OBJECT TYPE IN THE 'PersonCountryDemo' SCHEMA-->
	<xs:element name="PersonCountryDemo">
		<xs:complexType>
			<xs:all>
				<xs:element name="PersonElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Person" type="oxs:Person_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="CountryElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Country" type="oxs:Country_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--KEY CONSTRAINTS-->
		<xs:key name="Person_KEY">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="@Person_id" />
		</xs:key>
		<xs:key name="Country_KEY">
			<xs:selector xpath="oxs:CountryElements/oxs:Country" />
			<xs:field xpath="@Country_name" />
		</xs:key>
		<!--UNIQUENESS CONSTRAINTS-->
		<!--KEYREFS BETWEEN MAJOR OBJECT TYPE GROUPINGS-->
		<xs:keyref name="PersonCountry_REF" refer="Country_KEY">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="oxs:Country/@Country_name" />
		</xs:keyref>
	</xs:element>
</xs:schema>