XML/GenerationSamples/PersonCountryDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="ORMGeneratedXmlSchema.PersonCountryDemo" elementFormDefault="qualified" targetNamespace="urn:ORMGeneratedXmlSchema:PersonCountryDemo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="urn:ORMGeneratedXmlSchema:PersonCountryDemo" xmlns="urn:ORMGeneratedXmlSchema:PersonCountryDemo">
	<!--Each ORM ValueType with a value/range/length constraint-->
	<xs:simpleType name="Title">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
			<xs:enumeration value="Dr" />
			<xs:enumeration value="Prof" />
			<xs:enumeration value="Mr" />
			<xs:enumeration value="Mrs" />
			<xs:enumeration value="Miss" />
			<xs:enumeration value="Ms" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country_name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Region_code">
		<xs:restriction base="xs:string">
			<xs:minLength value="8" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<!--Each ORM EntityType and it's Preferred Id or top level ValueType-->
	<xs:complexType name="PersonIdentifier">
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="CountryIdentifier">
		<xs:attribute name="Country_name" use="required" type="oxs:Country_name" />
	</xs:complexType>
	<!--Each ORM Major Object Type grouping-->
	<xs:complexType name="PersonFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PersonIdentifier">
				<xs:sequence>
					<xs:element name="Country" type="oxs:CountryIdentifier" />
				</xs:sequence>
				<xs:attribute name="LastName" type="oxs:LastName" use="required" />
				<xs:attribute name="FirstName" type="oxs:FirstName" use="required" />
				<xs:attribute name="Title" type="oxs:Title" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountryFacts">
		<xs:complexContent>
			<xs:extension base="oxs:CountryIdentifier">
				<xs:sequence />
				<xs:attribute name="Region_code" type="oxs:Region_code" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Each ORM Major Object Type in the 'PersonCountryDemo' schema-->
	<xs:element name="PersonCountryDemo">
		<xs:complexType>
			<xs:all>
				<xs:element name="PersonElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Person" type="oxs:PersonFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="CountryElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Country" type="oxs:CountryFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--Key Constraints-->
		<xs:key name="PersonKey">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="@Person_id" />
		</xs:key>
		<xs:key name="CountryKey">
			<xs:selector xpath="oxs:CountryElements/oxs:Country" />
			<xs:field xpath="@Country_name" />
		</xs:key>
		<!--Uniqueness Constraints-->
		<!--KeyRefs between Major Object Type groupings-->
		<xs:keyref name="PersonCountryRef" refer="CountryKey">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="oxs:Country/@Country_name" />
		</xs:keyref>
	</xs:element>
</xs:schema>