XML/GenerationSamples/SampleModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="SampleModel" elementFormDefault="qualified" targetNamespace="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/SampleModel" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/SampleModel" xmlns="http://schemas.neumont.edu/ORM/CodeGeneratedSchema/SampleModel">
	<!--SimpleType DEFINITIONS FOR EACH ORM ValueType WITH A VALUE/RANGE/LENGTH CONSTRAINT-->
	<xs:simpleType name="FirstName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SocialSecurityNumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="11" />
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="7" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NickName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeathCause_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
			<xs:enumeration value="natural" />
			<xs:enumeration value="not so natural" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HatTypeStyle_Description">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Gender_Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1" />
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NaturalDeathIsFromProstateCancer">
		<xs:restriction base="xs:boolean">
			<xs:enumeration value="true" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnnaturalDeathIsViolent">
		<xs:restriction base="xs:boolean">
			<xs:enumeration value="true" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnnaturalDeathIsBloody">
		<xs:restriction base="xs:boolean">
			<xs:enumeration value="true" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonHasParents">
		<xs:restriction base="xs:boolean">
			<xs:enumeration value="true" />
		</xs:restriction>
	</xs:simpleType>
	<!--ComplexType DEFINITIONS FOR EACH ORM EntityType AND ITS PREFERRED ID-->
	<xs:complexType name="PersonDrivesCar">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="PersonBoughtCarFromPersonOnDate">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="Review">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="PersonHasNickName">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:attribute name="Person_id" type="xs:integer" use="required" />
	</xs:complexType>
	<xs:complexType name="MalePerson">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="FemalePerson">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="ChildPerson">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="Death">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="NaturalDeath">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="UnnaturalDeath">
		<xs:attribute name="" type="" use="required" />
	</xs:complexType>
	<xs:complexType name="Task">
		<xs:attribute name="Task_id" type="xs:integer" use="required" />
	</xs:complexType>
	<xs:complexType name="ValueType1">
		<xs:attribute name="ValueType1Value" type="xs:integer" use="required" />
	</xs:complexType>
	<!--ComplexType DEFINITIONS FOR EACH MAJOR OBJECT TYPE ORM GROUPING-->
	<xs:complexType name="PersonDrivesCar_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:PersonDrivesCar">
				<xs:sequence>
					<xs:element name="DrivenByPerson" type="oxs:DrivenByPerson" />
				</xs:sequence>
				<xs:attribute name="vin" type="xs:integer" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonBoughtCarFromPersonOnDate_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:PersonBoughtCarFromPersonOnDate">
				<xs:sequence>
					<xs:element name="Buyer" type="oxs:Buyer" />
					<xs:element name="Seller" type="oxs:Seller" />
				</xs:sequence>
				<xs:attribute name="vin" type="xs:integer" use="required" />
				<xs:attribute name="YMD" type="xs:integer" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Review_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:Review">
				<xs:sequence />
				<xs:attribute name="vin" type="xs:integer" use="required" />
				<xs:attribute name="Integer" type="oxs:Integer" use="required" />
				<xs:attribute name="Name" type="oxs:Name" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonHasNickName_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:PersonHasNickName">
				<xs:sequence>
					<xs:element name="Person" type="oxs:Person" />
				</xs:sequence>
				<xs:attribute name="NickName" type="oxs:NickName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Person_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:Person">
				<xs:sequence>
					<xs:element name="MalePerson" type="oxs:UNDONE" />
					<xs:element name="FemalePerson" type="oxs:UNDONE" />
					<xs:element name="ChildPerson" type="oxs:UNDONE" />
					<xs:element name="Death" type="oxs:UNDONE" />
					<xs:element name="ValueType1" type="oxs:ValueType1" />
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>Equality Constraint(Both must exist if one exists)</xs:documentation>
						</xs:annotation>
						<xs:element name="" type="oxs:" />
						<xs:element name="" type="oxs:" />
					</xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Exclusion Constraint(XOR)</xs:documentation>
						</xs:annotation>
						<xs:element name="" type="oxs:" />
						<xs:element name="" type="oxs:" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="FirstName" type="oxs:FirstName" use="required" />
				<xs:attribute name="YMD" type="xs:integer" use="required" />
				<xs:attribute name="LastName" type="oxs:LastName" use="required" />
				<xs:attribute name="SocialSecurityNumber" type="oxs:SocialSecurityNumber" use="optional" />
				<xs:attribute name="ColorARGB" type="xs:integer" use="optional" />
				<xs:attribute name="HatTypeStyle_Description" type="oxs:HatTypeStyle_Description" use="optional" />
				<xs:attribute name="vin" type="xs:integer" use="optional" />
				<xs:attribute name="Gender_Code" type="oxs:Gender_Code" use="required" />
				<xs:attribute name="PersonHasParents" type="oxs:true" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Task_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:Task">
				<xs:sequence>
					<xs:element name="Person" type="oxs:Person" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ValueType1_FACTS">
		<xs:complexContent>
			<xs:extension base="oxs:ValueType1">
				<xs:sequence>
					<xs:element name="Person" type="oxs:Person" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Element DEFINITIONS OF EACH MAJOR OBJECT TYPE IN THE 'SampleModel' SCHEMA-->
	<xs:element name="SampleModel">
		<xs:complexType>
			<xs:all>
				<xs:element name="PersonDrivesCarElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonDrivesCar" type="oxs:PersonDrivesCar_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonBoughtCarFromPersonOnDateElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonBoughtCarFromPersonOnDate" type="oxs:PersonBoughtCarFromPersonOnDate_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReviewElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Review" type="oxs:Review_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonHasNickNameElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonHasNickName" type="oxs:PersonHasNickName_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Person" type="oxs:Person_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaskElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Task" type="oxs:Task_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ValueType1Elements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="ValueType1" type="oxs:ValueType1_FACTS" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--KEY CONSTRAINTS-->
		<xs:key name="PersonDrivesCar_KEY">
			<xs:selector xpath="oxs:PersonDrivesCarElements/oxs:PersonDrivesCar" />
		</xs:key>
		<xs:key name="PersonBoughtCarFromPersonOnDate_KEY">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
		</xs:key>
		<xs:key name="Review_KEY">
			<xs:selector xpath="oxs:ReviewElements/oxs:Review" />
		</xs:key>
		<xs:key name="PersonHasNickName_KEY">
			<xs:selector xpath="oxs:PersonHasNickNameElements/oxs:PersonHasNickName" />
		</xs:key>
		<xs:key name="Person_KEY">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="@Person_id" />
		</xs:key>
		<xs:key name="Task_KEY">
			<xs:selector xpath="oxs:TaskElements/oxs:Task" />
			<xs:field xpath="@Task_id" />
		</xs:key>
		<xs:key name="ValueType1_KEY">
			<xs:selector xpath="oxs:ValueType1Elements/oxs:ValueType1" />
			<xs:field xpath="@ValueType1Value" />
		</xs:key>
		<!--UNIQUENESS CONSTRAINTS-->
		<xs:unique name="SocialSecurityNumber_UNIQUE">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:SocialSecurityNumber" />
		</xs:unique>
		<xs:unique name="OwnsCar_vin_UNIQUE">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:OwnsCar_vin" />
		</xs:unique>
		<!--KEYREFS BETWEEN MAJOR OBJECT TYPE GROUPINGS-->
		<xs:keyref name="PersonDrivesCarDrivenByPerson_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:PersonDrivesCarElements/oxs:PersonDrivesCar" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonBoughtCarFromPersonOnDateBuyer_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonBoughtCarFromPersonOnDateSeller_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonHasNickNamePerson_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:PersonHasNickNameElements/oxs:PersonHasNickName" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonValueType1_REF" refer="ValueType1_KEY">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="oxs:ValueType1/@ValueType1Value" />
		</xs:keyref>
		<xs:keyref name="TaskPerson_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:TaskElements/oxs:Task" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="ValueType1Person_REF" refer="Person_KEY">
			<xs:selector xpath="oxs:ValueType1Elements/oxs:ValueType1" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
	</xs:element>
</xs:schema>