XML/GenerationSamples/SampleModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="ORMGeneratedXmlSchema.SampleModel" elementFormDefault="qualified" targetNamespace="urn:ORMGeneratedXmlSchema:SampleModel" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="urn:ORMGeneratedXmlSchema:SampleModel" xmlns="urn:ORMGeneratedXmlSchema:SampleModel">
	<!--Each ORM ValueType with a value/range/length constraint-->
	<xs:simpleType name="FirstName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalUniqueString">
		<xs:restriction base="xs:string">
			<xs:minLength value="11" />
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ColorARGB">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="-2147483648" />
			<xs:maxInclusive value="2147483647" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vin">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="4294967295" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="4294967295" />
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="7" />
			<xs:minInclusive value="14" />
			<xs:maxInclusive value="16" />
			<xs:minInclusive value="18" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NickName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValueType1">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="-2147483648" />
			<xs:maxInclusive value="2147483647" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeathCause_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
			<xs:enumeration value="natural" />
			<xs:enumeration value="not so natural" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HatTypeStyle_Description">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BirthOrder_Nr">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="4294967295" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Gender_Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1" />
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalUniqueDecimal">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="" />
			<xs:totalDigits value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MandatoryUniqueDecimal">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="" />
			<xs:totalDigits value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MandatoryUniqueString">
		<xs:restriction base="xs:string">
			<xs:minLength value="11" />
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	<!--Each ORM EntityType and it's Preferred Id or top level ValueType-->
	<xs:complexType name="PersonDrivesCarIdentifier">
		<xs:attribute name="DrivesCar_vin" use="required" type="oxs:vin" />
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="PersonHasNickNameIdentifier">
		<xs:attribute name="NickName" use="required" type="oxs:NickName" />
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="PersonIdentifier">
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="MalePersonIdentifier" />
	<xs:complexType name="FemalePersonIdentifier" />
	<xs:complexType name="ChildPersonIdentifier">
		<xs:attribute name="BirthOrder_BirthOrder_Nr" use="required" type="oxs:BirthOrder_Nr" />
	</xs:complexType>
	<xs:complexType name="DeathIdentifier" />
	<xs:complexType name="NaturalDeathIdentifier" />
	<xs:complexType name="UnnaturalDeathIdentifier" />
	<xs:complexType name="TaskIdentifier">
		<xs:attribute name="Task_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="ValueType1Identifier">
		<xs:attribute name="ValueType1Value" use="required" type="oxs:ValueType1" />
	</xs:complexType>
	<xs:complexType name="PersonBoughtCarFromPersonOnDateIdentifier">
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
		<xs:attribute name="CarSold_vin" use="required" type="oxs:vin" />
		<xs:attribute name="Person_id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="ReviewIdentifier">
		<xs:attribute name="Car_vin" use="required" type="oxs:vin" />
		<xs:attribute name="Criterion_Name" use="required" type="oxs:Name" />
	</xs:complexType>
	<!--Each ORM Major Object Type grouping-->
	<xs:complexType name="PersonDrivesCarFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PersonDrivesCarIdentifier">
				<xs:sequence>
					<xs:element name="DrivenByPerson" type="oxs:PersonIdentifier" />
				</xs:sequence>
				<xs:attribute name="vin" type="oxs:vin" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonHasNickNameFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PersonHasNickNameIdentifier">
				<xs:sequence>
					<xs:element name="Person" type="oxs:PersonIdentifier" />
				</xs:sequence>
				<xs:attribute name="NickName" type="oxs:NickName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PersonIdentifier">
				<xs:sequence>
					<xs:element name="MalePerson" type="oxs:MalePersonIdentifier" />
					<xs:element name="FemalePerson" type="oxs:FemalePersonIdentifier" />
					<xs:element name="ChildPerson" type="oxs:ChildPersonIdentifier" />
					<xs:element name="Death" type="oxs:DeathIdentifier" />
					<xs:element name="Husband" type="oxs:PersonIdentifier" />
					<xs:element name="ValueType1DoesSomethingElseWith" type="oxs:ValueType1Identifier" />
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>Equality Constraint(All must exist if one exists)</xs:documentation>
						</xs:annotation>
						<xs:element name="" type="oxs:" />
						<xs:element name="" type="oxs:" />
					</xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Exclusion Constraint(XOR)</xs:documentation>
						</xs:annotation>
						<xs:element name="" type="oxs:" />
						<xs:element name="" type="oxs:" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="FirstName" type="oxs:FirstName" use="required" />
				<xs:attribute name="YMD" type="xs:integer" use="required" />
				<xs:attribute name="LastName" type="oxs:LastName" use="required" />
				<xs:attribute name="OptionalUniqueString" type="oxs:OptionalUniqueString" use="optional" />
				<xs:attribute name="ColorARGB" type="oxs:ColorARGB" use="optional" />
				<xs:attribute name="HatTypeStyle_Description" type="oxs:HatTypeStyle_Description" use="optional" />
				<xs:attribute name="vin" type="oxs:vin" use="optional" />
				<xs:attribute name="Gender_Code" type="oxs:Gender_Code" use="required" />
				<xs:attribute name="PersonhasParents" type="xs:boolean" use="optional" />
				<xs:attribute name="OptionalUniqueDecimal" type="oxs:OptionalUniqueDecimal" use="optional" />
				<xs:attribute name="MandatoryUniqueDecimal" type="oxs:MandatoryUniqueDecimal" use="required" />
				<xs:attribute name="MandatoryUniqueString" type="oxs:MandatoryUniqueString" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TaskFacts">
		<xs:complexContent>
			<xs:extension base="oxs:TaskIdentifier">
				<xs:sequence>
					<xs:element name="Person" type="oxs:PersonIdentifier" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ValueType1Facts">
		<xs:complexContent>
			<xs:extension base="oxs:ValueType1Identifier">
				<xs:sequence>
					<xs:element name="DoesSomethingWithPerson" type="oxs:PersonIdentifier" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonBoughtCarFromPersonOnDateFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PersonBoughtCarFromPersonOnDateIdentifier">
				<xs:sequence>
					<xs:element name="Buyer" type="oxs:PersonIdentifier" />
					<xs:element name="Seller" type="oxs:PersonIdentifier" />
				</xs:sequence>
				<xs:attribute name="vin" type="oxs:vin" use="required" />
				<xs:attribute name="YMD" type="xs:integer" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReviewFacts">
		<xs:complexContent>
			<xs:extension base="oxs:ReviewIdentifier">
				<xs:sequence />
				<xs:attribute name="vin" type="oxs:vin" use="required" />
				<xs:attribute name="Integer" type="oxs:Integer" use="required" />
				<xs:attribute name="Name" type="oxs:Name" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Each ORM Major Object Type in the 'SampleModel' schema-->
	<xs:element name="SampleModel">
		<xs:complexType>
			<xs:all>
				<xs:element name="PersonDrivesCarElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonDrivesCar" type="oxs:PersonDrivesCarFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonHasNickNameElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonHasNickName" type="oxs:PersonHasNickNameFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Person" type="oxs:PersonFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaskElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Task" type="oxs:TaskFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ValueType1Elements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="ValueType1" type="oxs:ValueType1Facts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonBoughtCarFromPersonOnDateElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="PersonBoughtCarFromPersonOnDate" type="oxs:PersonBoughtCarFromPersonOnDateFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReviewElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Review" type="oxs:ReviewFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--Key Constraints-->
		<xs:key name="PersonDrivesCarKey">
			<xs:selector xpath="oxs:PersonDrivesCarElements/oxs:PersonDrivesCar" />
		</xs:key>
		<xs:key name="PersonHasNickNameKey">
			<xs:selector xpath="oxs:PersonHasNickNameElements/oxs:PersonHasNickName" />
		</xs:key>
		<xs:key name="PersonKey">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="@Person_id" />
		</xs:key>
		<xs:key name="TaskKey">
			<xs:selector xpath="oxs:TaskElements/oxs:Task" />
			<xs:field xpath="@Task_id" />
		</xs:key>
		<xs:key name="ValueType1Key">
			<xs:selector xpath="oxs:ValueType1Elements/oxs:ValueType1" />
			<xs:field xpath="@ValueType1Value" />
		</xs:key>
		<xs:key name="PersonBoughtCarFromPersonOnDateKey">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
		</xs:key>
		<xs:key name="ReviewKey">
			<xs:selector xpath="oxs:ReviewElements/oxs:Review" />
		</xs:key>
		<!--Uniqueness Constraints-->
		<xs:unique name="OptionalUniqueStringUnique">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:OptionalUniqueString" />
		</xs:unique>
		<xs:unique name="OwnsCar_vinUnique">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:OwnsCar_vin" />
		</xs:unique>
		<xs:unique name="OptionalUniqueDecimalUnique">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:OptionalUniqueDecimal" />
		</xs:unique>
		<xs:unique name="MandatoryUniqueDecimalUnique">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:MandatoryUniqueDecimal" />
		</xs:unique>
		<xs:unique name="MandatoryUniqueStringUnique">
			<xs:selector xpath="oxs:SampleModel/oxs:Person" />
			<xs:field xpath="oxs:MandatoryUniqueString" />
		</xs:unique>
		<!--KeyRefs between Major Object Type groupings-->
		<xs:keyref name="PersonDrivesCarDrivenByPersonRef" refer="PersonKey">
			<xs:selector xpath="oxs:PersonDrivesCarElements/oxs:PersonDrivesCar" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonHasNickNamePersonRef" refer="PersonKey">
			<xs:selector xpath="oxs:PersonHasNickNameElements/oxs:PersonHasNickName" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonHusbandRef" refer="PersonKey">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonValueType1DoesSomethingElseWithRef" refer="ValueType1Key">
			<xs:selector xpath="oxs:PersonElements/oxs:Person" />
			<xs:field xpath="oxs:ValueType1/@ValueType1Value" />
		</xs:keyref>
		<xs:keyref name="TaskPersonRef" refer="PersonKey">
			<xs:selector xpath="oxs:TaskElements/oxs:Task" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="ValueType1DoesSomethingWithPersonRef" refer="PersonKey">
			<xs:selector xpath="oxs:ValueType1Elements/oxs:ValueType1" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonBoughtCarFromPersonOnDateBuyerRef" refer="PersonKey">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
		<xs:keyref name="PersonBoughtCarFromPersonOnDateSellerRef" refer="PersonKey">
			<xs:selector xpath="oxs:PersonBoughtCarFromPersonOnDateElements/oxs:PersonBoughtCarFromPersonOnDate" />
			<xs:field xpath="oxs:Person/@Person_id" />
		</xs:keyref>
	</xs:element>
</xs:schema>