RelationalModel/OialDcilBridge/ORMAbstractionToConceptualDatabase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://schemas.neumont.edu/ORM/Bridge/2007-06/ORMAbstractionToConceptualDatabase"
	xmlns="http://schemas.neumont.edu/ORM/Bridge/2007-06/ORMAbstractionToConceptualDatabase" 
	xmlns:oialtocdb="http://schemas.neumont.edu/ORM/Bridge/2007-06/ORMAbstractionToConceptualDatabase"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">

	<xs:annotation>
		<xs:appinfo>
			<rdf:RDF
				xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				xmlns:dc="http://purl.org/dc/elements/1.1/"
				xmlns:dcterms="http://purl.org/dc/terms/">
				<rdf:Description rdf:about="http://schemas.neumont.edu/ORM/Bridge/2007-06/ORMToORMAbstraction">
					<dcterms:requires rdf:resource="http://schemas.neumont.edu/ORM/2006-04/ORMCore"/>
					<dcterms:requires rdf:resource="http://schemas.neumont.edu/ORM/Abstraction/2007-06/Core"/>
					<dc:title>ORM Intermediate Abstraction Language To Conceptual Database Language</dc:title>
					<dc:creator>Kevin M. Owen</dc:creator>
					<dc:contributor>Corey Kaylor</dc:contributor>
					<dc:contributor>Korvyn Dornseif</dc:contributor>
					<dc:contributor>Jaron Briggs</dc:contributor>
					<dc:contributor>Terry Halpin</dc:contributor>
					<dc:contributor>Matthew Curland</dc:contributor>
					<dc:contributor>David DeWinter</dc:contributor>
					<dc:contributor>Brice Lambson</dc:contributor>
					<dc:contributor>Sterling Bates</dc:contributor>
					<dc:contributor>Noah Langenweiler</dc:contributor>
					<dc:contributor>Jeremy Robertson</dc:contributor>
					<dc:contributor>Jason Barnes</dc:contributor>
					<dc:rights>Copyright © Neumont University. All rights reserved.</dc:rights>
					<dcterms:rightsHolder>Neumont University</dcterms:rightsHolder>
					<dcterms:license>
						This software is provided 'as-is', without any express or implied warranty. In no event will the authors be held liable for any damages arising from the use of this software.
						Permission is granted to anyone to use this software for any purpose, including commercial applications, and to alter it and redistribute it freely, subject to the following restrictions:
						1. The origin of this software must not be misrepresented; you must not claim that you wrote the original software. If you use this software in a product, an acknowledgment in the product documentation would be appreciated but is not required.
						2. Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.
						3. This notice may not be removed or altered from any source distribution.
					</dcterms:license>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="Bridge">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="SchemaIsForAbstractionModel" type="SchemaIsForAbstractionModelType"/>
				<xs:element name="ColumnHasConceptTypeChild" type="ColumnHasConceptTypeChildType"/>
				<xs:element name="DomainIsForInformationTypeFormat" type="DomainIsForInformationTypeFormatType"/>
				<xs:element name="TableIsPrimarilyForConceptType" type="TableIsForConceptTypeType"/>
				<xs:element name="TableIsAlsoForConceptType" type="TableIsForConceptTypeType"/>
				<xs:element name="UniquenessConstraintIsForUniqueness" type="UniquenessConstraintIsForUniquenessType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="MappingCustomization">
		<xs:complexType>
			<xs:all>
				<xs:element name="AssimilationMappings" type="AssimilationMappingsType" minOccurs="0"/>
				<xs:element name="ReferenceModeNamings" type="ReferenceModeNamingsType" minOccurs="0">
					<xs:unique name="DefaultReferenceModeNamingsUnique">
						<xs:selector xpath="oialtocdb:DefaultReferenceModeNaming"/>
						<xs:field xpath="@TargetKind"/>
						<xs:field xpath="oialtocdb:ORMModel/@ref"/>
					</xs:unique>
				</xs:element>
			</xs:all>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AssimilationMappingsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="AssimilationMapping" type="AssimilationMappingType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AssimilationMappingType">
		<xs:sequence>
			<xs:element name="FactType">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:IDREF" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="AbsorptionChoice" default="Absorb">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Absorb">
						<xs:annotation>
							<xs:documentation>All assimilations are pulled into the same table as the supertype.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Partition">
						<xs:annotation>
							<xs:documentation>Each subtype is given its own table. Data from the supertype is duplicated.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Separate">
						<xs:annotation>
							<xs:documentation>Each subtype is given its own table, data from the supertype is stored in a separate referenced table.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReferenceModeNamingsType">
		<xs:sequence>
			<xs:element name="DefaultReferenceModeNaming" type="DefaultReferenceModeNamingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReferenceModeNaming" type="ReferenceModeNamingType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceModeNamingType">
		<xs:sequence>
			<xs:element name="ObjectType">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:IDREF" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="NamingChoice" default="ModelDefault">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ModelDefault">
						<xs:annotation>
							<xs:documentation>Use the default setting for the model</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ValueTypeName">
						<xs:annotation>
							<xs:documentation>The name of the ValueType is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="EntityTypeName">
						<xs:annotation>
							<xs:documentation>The name of the EntityType is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ReferenceModeName">
						<xs:annotation>
							<xs:documentation>The name of the ReferenceMode is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CustomFormat">
						<xs:annotation>
							<xs:documentation>A custom format string with any combination of the ValueTypeName/EntityTypeName/ReferenceModeName values is allowed. Use CustomFormat if specified or the default CustomFormat for the corresponding reference mode kind.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CustomFormat" type="xs:string">
			<xs:annotation>
				<xs:documentation>May be set if NamingChoice is CustomFormat. The replacement field {0} is the ValueTypeName, {1} is the EntityTypeName, and {2} is the ReferenceModeName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DefaultReferenceModeNamingType">
		<xs:sequence>
			<xs:element name="ORMModel">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:IDREF" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="TargetKind" use="required">
			<xs:annotation>
				<xs:documentation>Specify if these are the defaults for unit based or popular reference modes.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Popular">
						<xs:annotation>
							<xs:documentation>The naming conventions correspond to popular reference modes.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="UnitBased">
						<xs:annotation>
							<xs:documentation>The naming conventions correspond to unit based reference modes.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NamingChoice" default="ValueTypeName">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ValueTypeName">
						<xs:annotation>
							<xs:documentation>The name of the ValueType is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="EntityTypeName">
						<xs:annotation>
							<xs:documentation>The name of the EntityType is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ReferenceModeName">
						<xs:annotation>
							<xs:documentation>The name of the ReferenceMode is used for naming.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CustomFormat">
						<xs:annotation>
							<xs:documentation>A custom format string with any combination of the ValueTypeName/EntityTypeName/ReferenceModeName values is allowed. Use CustomFormat if specified or the default CustomFormat for the corresponding reference mode kind.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CustomFormat" type="xs:string">
			<xs:annotation>
				<xs:documentation>May be set if NamingChoice is CustomFormat. The replacement field {0} is the ValueTypeName, {1} is the EntityTypeName, and {2} is the ReferenceModeName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SchemaIsForAbstractionModelType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="Schema" type="xs:IDREF" use="required"/>
		<xs:attribute name="AbstractionModel" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="ColumnHasConceptTypeChildType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="Column" type="xs:IDREF" use="required"/>
		<xs:attribute name="ConceptTypeChild" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="DomainIsForInformationTypeFormatType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="Domain" type="xs:IDREF" use="required"/>
		<xs:attribute name="InformationTypeFormat" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="TableIsForConceptTypeType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="Table" type="xs:IDREF" use="required"/>
		<xs:attribute name="ConceptType" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="UniquenessConstraintIsForUniquenessType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="UniquenessConstraint" type="xs:IDREF" use="required"/>
		<xs:attribute name="Uniqueness" type="xs:IDREF" use="required"/>
	</xs:complexType>
</xs:schema>
